.places {
    max-width: 984px;
    margin: 0 auto;
    }
    @media only screen and (max-device-width: 1279px) {
        .places {
            max-width: calc(100% - 96px);
        }
    }
    @media only screen and (max-device-width: 1023px) {
        .places {
            max-width: calc(100% - 48px);
        }
    }
    @media only screen and (max-device-width: 767px) {
        .places {
            max-width: 100%;
        }
    }
