.places__text {
    font-size: 18px;
    line-height: 29px;
    font-weight: normal;
    margin-bottom: 0;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        .places__text {
            max-width: calc(100% - 32px);
            font-size: 16px;
            margin-right: 16px;
            margin-left: 16px;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .places__text {
            font-size: 18px;
        }
    }