.footer__copyright {
    display: flex;
    font-size  : 14px;
    line-height: 16px;
    align-items:   center;
}
@media only screen and ( max-device-width: 767px) {
    .footer__copyright {
        margin-top: 0;
        margin-bottom: 24px;
    }
}