.cover {
    margin-bottom: 0;
    margin-top: 92px;
    margin: 92px auto 0 auto;
    max-width: calc(100% - 96px);
    }

    @media only screen and ( max-device-width: 767px) {
        .cover {
            max-width: 100%;
            margin-top: 66px;
        }
    }
    @media only screen and ( max-device-width: 1023px) {
        .cover {
            margin-top: 90px;
            max-width: 100%;
        }
    }
    @media only screen and ( max-device-width: 1279px) {
        .cover {
            margin-top: 92px;
            max-width: 100%;
        }
    }