.cover {
    margin: 92px auto 0 auto;
    max-width: calc(100% - 96px);
    }
    @media only screen and (max-width: 1279px) {
        .cover {
            max-width: 100%;
        }
    }
    @media only screen and (max-width: 1023px) {
        .cover {
            margin-top: 90px;
        }
    }