.places__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 12px;
    }
    @media only screen and (max-device-width: 767px) {
        .places__url-heading {
            margin-left: 16px;
            margin-right: 16px;
        }
    }